<h1 class="titulo">Profile</h1>
<div class="form-group">
    <span>Username</span><input class="form-control" type="text" value="{{user.username}}"><br>

    <span>Email</span><input class="form-control" type="text" value="{{user.email}}">
    <a href="/registrarPerfilJogador">Criar perfil de jogador</a>
</div>